body {  
    color:black; 
    font-family: Papyrus 
}

h2 {  
    color:blue;  
    background-color: seashell;
    width: fit-content;
    font-weight:bolder;
    font-family: Cambria,Georgia,"Book Antiqua",serif
}

h3 b {  
    color:darkred;  
    background-color: orange;
    font-style:italic;
}

p strong {
    background-color: palegreen;
    font-size:1.3em;
}

p, a:link {  
    color:darkgreen;  
}

a:visited {  
    color:darkblue;  
}

a:hover {  
    color:purple;  
}

a:active {  
    color:yellow;  
}

div.overview {
    font-size: large;
}

div.Extracurricular p {
    font-style: italic;
    color: rgb(0, 59, 78);
}

img#general {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border: 1px solid red;
}

img {
    width: 50%;
    float: inline-end;
}

body {
    padding-left: 1in;
    padding-right: 1in;
}

div.picturesofcode {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header.headerflex {
    width: 100%;
    display:flex;
    justify-content: center;
}

footer.footerflex {
    width: 100%;
    display:flex;
    justify-content: center;
}
